doctype html
html
  include ../../includes/head
  link(rel="stylesheet", href="./styles/index.css")
  link(rel="stylesheet", href="./styles/product.css")
  body
    script(src="./theme.js")
    include ../../includes/background/background
    include ../../includes/header/header
    main
      include ../../includes/preview/preview
      include ../../includes/advantages/advantages
      include ../../includes/steps/steps
      include ../../includes/about/about
      include ../../includes/team/team
      include ../../includes/partners/partners
    include ../../includes/product-page/components/footer/footer
    //- script(src="./bg.js")
    script(src="./product.js")